<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<!-- The Modal -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'"
  class="close" title="Close Modal">&times;</span>
  
    <!-- Modal Content -->
    <form class="modal-content animate" >
      <!--<div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
      </div>-->
  
      <div class="container">
        <label for="title"><b>Title</b></label>
        <input type="text" placeholder="Enter a title" name="title" required>
  
        <label for="url"><b>URL/Link</b></label>
        <input type="url" placeholder="Enter url" name="url" required>
  
        <button type="submit">Submit</button>
      </div>
  </form>
  </div>